name: CI/CD with Auto Versioning

on:
  workflow_dispatch:
#  push:
#    branches: [ master ]

jobs:
  versioning:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set_version.outputs.new_version }}
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Bump version and push tag
        id: set_version
        uses: mathieudutour/github-tag-action@d28fa2ccfbd16e871a4bdf35e11b3ad1bd56c0c1 # v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch # Automatically bump a patch version
          release_branches: release.*,hotfix.*,master
          pre_release_branches: feature.*

  build:
    needs: versioning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.2
      - name: Setup .NET
        uses: actions/setup-dotnet@v4.1.0
        with:
          dotnet-version: '9.0'
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Test
        run: dotnet test --no-build -c Release --verbosity normal
      - name: Pack
        run: dotnet pack --no-build -c Release -o nupkg /p:PackageVersion=${{ needs.versioning.outputs.version }}
      - name: Upload NuGet packages as artifacts
        uses: actions/upload-artifact@v4.4.3
        with:
          name: nuget-packages
          path: nupkg/*.nupkg
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download NuGet packages artifacts
        uses: actions/download-artifact@v4.1.8
        with:
          name: nuget-packages
          path: nupkg
      - name: Push to NuGet
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: dotnet nuget push "**/*.nupkg" -k "$NUGET_API_KEY" -s https://api.nuget.org/v3/index.json --skip-duplicate
